<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Galang dana</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Roboto";
      }
      html {
        overflow-x: hidden;
      }
      /* .tombol {
        background-color: #f72585;
      } */
      thead {
        background-color: #000000;
        color: white;
      }
      h1 {
        font-family: "poppins";
      }
    </style>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar btn-dark navbar-expand-xs">
      <div class="container-fluid">
        <!-- <a href="/" style="text-decoration: none"
          ><h3 style="color: white">IPB Peduli</h3></a
        > -->
        <img class="ms-4" src="images/logo.png" alt="logo" height="40px" />

        <div class="d-flex">
          <div>
            <a class="btn" style="color: white" href="#">Riwayat</a>
          </div>
          <div>
            <a class="btn" style="color: white" href="#">Tentang</a>
          </div>
          <div>
            <a class="btn" style="color: white" href="/list">Galang dana</a>
          </div>
        </div>

        <div class="d-flex me-5">
          <% if(!currentUser) { %>
          <a href="/login" class="btn btn-success">Login</a>
          <a href="/register" class="btn btn-secondary">Register</a>
          <% } else { %>
          <a href="/logout" class="btn border border-0 btn-primary tombol"
            >Logout</a
          >
          <% } %>
        </div>
      </div>
    </nav>

    <!-- jumbotron -->
    <div class="jumbotron mt-3 ms-5 me-5">
      <h1>Daftar Penggalangan dana</h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn warna tombol btn-primary me-md-2" href="/form">
          + Galang dana Baru
        </a>
      </div>

      <table class="table table-striped table-hover mt-5">
        <thead>
          <tr>
            <td>No</td>
            <td>Nama campaign</td>
            <td>Tanggal</td>
            <% if(currentUser.username === 'admin') { %>
            <td>Pembuat</td>
            <% } %>
            <td>Status</td>
            <td>Aksi</td>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((item, index) => { if(item.creator.username ===
          currentUser.username || currentUser.username === 'admin') { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= item.question1 %></td>
            <td><%= item.question8 %></td>
            <% if(currentUser.username === 'admin') { %>
            <td><%= item.creator.username %></td>
            <% } %>
            <td>Ongoing</td>
            <td>
              <a
                href="/edit/<%= item._id%>"
                target="_blank"
                class="btn btn-primary tombol"
                >Edit</a
              >
              <% if(currentUser.username === 'admin') { %>
              <form
                action="/delete/<%= item._id %>?_method=DELETE"
                method="POST"
                style="display: inline"
              >
                <button class="btn btn-danger">Delete</button>
              </form>
              <% } %>
            </td>
          </tr>
          <% } }) %>
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
